<div class="mint-box">
    <div class="row">
        <div class="col-12">

            <p class="p-text w-90-p">
                Lorem ipsum dolor sit amet consectetur. Leo non purus maecenas id tempor facilisis vitae. Egestas et et
                dictum
                id ut tempor sagittis auctor elementum. Diam neque suspendisse est pellentesque nibh ac. Vel vitae eget
                commodo
                mi sit dui. Aliquam ut vulputate varius blandit duis etiam. A a sagittis elit urna purus. Sit viverra
                quis
                malesuada aliquet etiam.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 shift-end">

            <div class="input-container">
                <div class="btn_bx">
                    <div class="btn_inner">
                        <button (click)="mint()" class="custom-btn">
                            <label class="lable-style-btn">Mint</label>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>