<div class="container">
    <div class="copywite-text mb-32 mt-32">
        <label class="label-style">All Rights Reserved @ 2024 SCARY DEVIL</label>
    </div>
    <div class="social-media mb-32 mt-32">

        <a href="#" target="_blank">
            <img src="../../assets/images/instagram.svg" alt="Instagram" class="images">
        </a>

        <!-- <a href="https://www.facebook.com" target="_blank">
            <img src="../../assets/images/facebook.svg" alt="Facebook" class="images">
        </a> -->

        <a href="#" target="_blank">
            <img src="../../assets/images/x.svg" alt="Twitter" class="images">
        </a>
    </div>
</div>