<div class="container-box w-100-p">

    <div class="row w-100-p row_cust" style="align-items: center; justify-content: center;">
    <!-- <div class="row w-100-p row_cust" style="align-items: center;"> -->
        <!-- <div class="col-lg-6 col-md-12  col-sm-12 col-xs-12 space-bottom col_custum">
            <label class="lable-style-signUp">Sign up to get more updates</label>
        </div> -->
        <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col_custum"> -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_custum">
            <div class="input-btn">
                <input type="email" [formControl]="email" id="email" class="  input-class  margin-btm width_custom"
                    placeholder="Your Email ...">
                <!-- <input type="email" [formControl]="email" id="email" class="  input-class  margin-btm width_custom"
                    placeholder="Subscribe here ..."> -->
                <div class="btn_round margin-btm">
                    <div class="btn_round_inner">
                        <button (click)="signUp()" class="custom-round-btn">
                            <label class="lable-btn">SignUp</label>
                        </button>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>