.main-body {
    background: linear-gradient(rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.7) 20%,
            rgba(0, 0, 0, 0.7) 80%,
            rgba(0, 0, 0, 0.9) 100%);
    

}




.main-page {
    width: 100% !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.199);

}


.video-container {
 
    background-color: rgb(20 20 20);
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;

}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    opacity: .5;
}




.main-content {
    padding: 32px 32px 1px 32px !important;
    // background-color: rgba(0, 0, 0, 0.4);
    background-color: rgb(20 20 20);
}

.header {
    .nav {
        // display: flex;
        position: fixed;
        background-color: transparent;
        // flex-wrap: nowrap;
        justify-content: flex-end;
        z-index: 1000;

        .header-block {
            // border-top-left-radius: 5px;
            // border-top-right-radius: 5px;
            width: 100% !important;
            display: flex;
            align-items: center;
            height: 4rem !important;
            justify-content: space-between;
            padding: 0 16px;

            // Hide the images when in mobile view
            @media only screen and (max-width: 600px) {
                // .images {
                //     display: none;
                // }
            }
        }
    }
}

.images {
    margin-right: 16px;
}



@media only screen and (max-width: 600px) {

    .header-block {
        justify-content: center !important;
        flex-direction: row;
    }

    .nav {
        margin: 12px 0px;
    }

    .main-body {
        // height: 48vh;
        height: 100%;
    }

    .image-size {
        width: 78%;

    }

    .image-show {
        display: none !important;
    }

    .header .nav .header-block {
        padding: 0 !important;
        height: 4rem !important;
    }

    .images {
        margin-right: 4px;
    }

    .image-hide {
        display: flex !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-body {
        // height: 54vh;
        height: 100%;
    }

    .image-size {
        width: 78%;

    }

    .header .nav .header-block {
        padding: 0 !important;
        height: 4rem !important;
    }

    .images {
        margin-right: 4px;
    }

    .image-show {
        display: none !important;
    }

    .image-hide {
        display: flex !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-body {
        // height: 56vh;
        height: 100%;
    }

    .image-size {
        width: 100%;

    }

    .header .nav .header-block {
        padding: 0 16px;
        height: 4rem !important;
    }

    .images {
        margin-right: 16px;
    }

    .image-show {
        display: flex !important;
    }

    .image-hide {
        display: none !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-body {
        // height: 60vh;
        height: 100%;
    }

    .image-size {
        width: 100%;
    }

    .header .nav .header-block {
        padding: 0 16px;
        height: 4rem !important;
    }

    .images {
        margin-right: 16px;
    }

    .image-show {
        display: flex !important;
    }

    .image-hide {
        display: none !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-body {
        // height: 62vh;
        height: 100%;
    }

    .image-size {
        width: 100%;

    }

    .header .nav .header-block {
        padding: 0 16px;
        height: 4rem !important;
    }

    .images {
        margin-right: 16px;
    }

    .image-show {
        display: flex !important;
    }

    .image-hide {
        display: none !important;
    }
}